@font-face {
  font-family: "font-italic";
  src: url("../fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "font-thin";
  src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "font-light";
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "font-regular";
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "font-medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "font-semibold ";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
